In [1]:
s= input()
s

yash 456 9.0

'yash 456 9.0'

In [2]:
name = input("Enter your name : ")
print ("Hello",name)

Enter your name : Yash
Hello Yash

In [4]:
num = input("Enter a number : ") #this code will not work as num is of str type
print (num+100)

Enter a number : 50

TypeError: ignored

In [5]:
n =input("Enter a number: ")
type(n)

Enter a number: 50

str

In [6]:
n = int(input("Enter a number: "))
print(n+150)

Enter a number: 50
200

In [7]:
fname = "Yash"
lname = "Rane"
print("Name: ",fname,lname)

Name:  Yash Rane

In [9]:
print('yashrane','ci',19,sep='/')

yashrane/ci/19

In [10]:
print('yashrane','ci',19,sep='...')

yashrane...ci...19

In [11]:
print('yash')
print('ci')
print(69)

yash
ci
69

In [12]:
print('yash', end='/')
print('ci', end='/')
print(69)

yash/ci/69

In [14]:
print('yash','ci',69,sep='')

yashci69

In [16]:
for n in range (10):
  print(n)

0
1
2
3
4
5
6
7
8
9

In [17]:
for n in range (10):
  print(n,end=' ')

0 1 2 3 4 5 6 7 8 9

In [20]:
print('%d %s cost Rs %2f'%(8,'apples',2.25))

8 apples cost Rs 2.250000

In [22]:
print("Hello, my name is %s"%'yash')

Hello, my name is yash

In [23]:
a = "welcome to the csit department"
b = a.split()
b

['welcome', 'to', 'the', 'csit', 'department']

In [25]:
txt = "Hello my name is yash , I am 20 yrs old"
txt.split(",")

['Hello my name is yash ', ' I am 20 yrs old']

In [26]:
a= "apples#mango#banana#orange"
a.split('#')

['apples', 'mango', 'banana', 'orange']

In [27]:
a= "apples#mango#banana#orange"
a.split("#",1)

['apples', 'mango#banana#orange']