In [ ]:
#program 1
a = float(input("Enter the first number: "))
b = float(input("enter the second number: "))
c = "{:.2f}".format(a)
d = "{:.2f}".format(b)
print(c)
print(d)

Enter the first number: 25
enter the second number: 62
25.00
62.00

In [ ]:
#program 2
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))

print(a * b)

Enter the first number: 5
Enter the second number: 6
30

In [ ]:
#program 3
r = 10
v = (4 * 22 * r * r * r)/(3 * 7)

print("Volume of the sphere = ",v )

Volume of the sphere =  4190.476190476191

In [ ]:
#program 4
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))

print(a * b)

Enter the first number: 25
Enter the second number: 2
50

In [ ]:
#program 5
a = int(input("Enter the value: "))
b = a + (a*a) + (a*a*a)
print("The valu of a+aa+aaa= ",b)

Enter the value: 5
The valu of a+aa+aaa=  155

In [ ]:
#program 6
string = str(input("Enter the string: "))
string = len(string)
print("The length of string is ",string)

Enter the string: computer
The length of string is  8

In [ ]:
#program 7
salary = "45000"

sal = int(salary)

#print type
print(type(sal))

#print the value
print(sal)

<class 'int'>
45000

In [ ]:
#Program 7 
salary = "45000"
sal = float(salary)
print(type(sal))
print(sal)

<class 'float'>
45000.0

In [ ]:
#Program 8
a = int(input("enter the first number: "))
b = int(input("enter the second number: "))

c = a+b
print(c)

if(c > 100):
  print(a*b)

enter the first number: 50
enter the second number: 60
110
3000

In [ ]:
#Program 9
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))
c = int(input("Enter the third number: "))

d = a + b + c
print(d)

if(a != b != c):
  print(4*d)

Enter the first number: 1
Enter the second number: 2
Enter the third number: 3
6
24

In [ ]:
#Program 10
quantity = int(input("Enter the quantity : "))
print("Cost of 1 unit = 100")
price = quantity *100
if(quantity > 10000):
  cost = float(price *50/100)
  print("The total cost = ",cost)
else:
  print("The total cost = ",price)

Enter the quantity : 25256
Cost of 1 unit = 100
The total cost =  1262800.0

In [ ]:
#Program 11 (divisible 8)
a = int(input("Enter the number: "))
if ( a % 8 ==0 ):
  print("The number is divisible by 8")

else:
  print("The number is not divisible by 8")

Enter the number: 56
The number is divisible by 8

In [ ]:
#Program 11(divisible by 12)
b = int(input("Enter the number: "))
if ( b % 12 ==0 ):
  print("The number is divisible by 12")

else:
  print("The number is not divisible by 12")

Enter the number: 56
The number is not divisible by 12

In [ ]:
#Program 12
a = int(input("Enter the number: "))
if(a %2 == 0):
  print("The number is even")
else:
  print("The number is odd")

Enter the number: 13
The number is odd

In [ ]:
#Program 13
phy = int(input("Enter the marks of physics out of 100: "))
chem = int(input("Enter the marks of chemistry out of 100: "))
mt = int(input("Enter the marks of maths out of 100: "))
bio = int(input("Enter the marks of biology out of 100: "))
comp = int(input("Enter the marks of computer out of 100: "))

per = (phy + chem + mt + bio + comp)/500 * 100

print("percentage = ",float(per))
if(per >= 90):
  print("Grade A")
elif(per >= 80):
  print("Grade B")
elif(per >= 70):
  print("Grade C")
elif(per >= 60):
  print("Grade D")
elif(per >= 50):
  print("Grade E")
else:
  print("Grade F")

Enter the marks of physics out of 100: 85
Enter the marks of chemistry out of 100: 65
Enter the marks of maths out of 100: 94
Enter the marks of biology out of 100: 56
Enter the marks of computer out of 100: 80
percentage =  76.0
Grade C

In [ ]:
#Program 14
a = int(input("enter the age of first person: "))
b = int(input("enter the age of second person: "))
c = int(input("enter the age of third person: "))
if(a > b and a >c):
  print("first person is older")
elif(b > a and b >c):
  print("second person is older")
elif(c > a and c >b):
  print("third person is older")
else:
  print("All are of equal age")

enter the age of first person: 56
enter the age of second person: 68
enter the age of third person: 12
second person is older

In [ ]:
#Program 15
n = int(input("enter the electicity units: "))
charge = float(20/100)
if(n<=50):
  bill = 0.50*n+charge
elif(n>50 and n<=150):
  bill = 0.75*n + charge
elif(n>150 and n<=250):
  bill = 1.20*n + charge
else:
  bill = 1.50*n + charge
print("Bill = ",float(bill))

enter the electicity units: 251
Bill =  376.7

In [ ]:
#Program 16
attendance = int(input("Enter the attendance of student in percentage: "))
if(attendance >= 80):
  print("Student will be allowed to give exams")
else:
  print("student will not be allowed to give exams")

Enter the attendance of student in percentage: 80
Student will be allowed to give exams

In [ ]:
#Program 17

In [ ]:
#Program 18
n = int(input("enter the number: "))
sum = 0
while(n > 0):
  rem = n % 10
  sum = sum + rem
  n = n//10

print("The digital sum of is = ",int(sum))

enter the number: 1252
The digital sum of is =  10

In [ ]:
#Program 19
n = int(input("Enter the number: "))
prod= 1

while(n > 0):
  prod = prod * (n%10)
  n = n//10
print("The digital product is = ",prod)

Enter the number: 555
The digital product is =  125

In [ ]:
#Program 20
n = int(input("Enter the value of n: "))
x= 3
sum = 0
for i in range(0,n):
  sum = sum + x
  x = (x*10)+3
print("The sum of the series= ",sum)

Enter the value of n: 4
The sum of the series=  3702

In [ ]:
#Program 21
row = int(input("Enter the number of rows: "))
for i in range(row):
  for j in range(0,i+1):
    print("*",end="")
  print("\n")
for i in range(row+1,0,-1):
  for j in range(0,i-1):
    print("*",end="")
  print("\n")

Enter the number of rows: 5
*

**

***

****

*****

*****

****

***

**

*

In [ ]:
#Program 22
n = int(input("Enter a number: "))
rev = 0
while(n != 0):
  rem = n%10
  rev = rev*10 + rem
  n = n//10
print("The reversed number is ",rev)

Enter a number: 123
The reversed number is  321

In [ ]:
#Program 23
n = int(input("Enter the number: "))
x = n
rev = 0
while(n != 0):
  dig = n % 10
  rev = rev*10 + dig
  n = n//10
if(x == rev):
  print("The number is palindrome")
else:
  print("The number is not a palindrome")

Enter the number: 434
The number is palindrome

In [ ]:
#Program 24
n = int(input("Enter the number: "))
# x = n
sum = 0
while(n != 0):
  dig = n%10
  sum = sum + (dig**3)
  n = n//10
if(n == sum):
  print("The number is an armstrong number ")
else:
  print("The number is not an armstrong number ")

Enter the number: 153
The number is not an armstrong number

In [ ]:
#Program 25
n = int(input("Enter the number: "))
fact = 1
for i in range(1,n+1):
  fact = fact * i
print("The factorial of the number = ",fact)

Enter the number: 5
The factorial of the number =  120

In [ ]:
#Program 26
n = int(input("Enter the number: "))
x = n
sum=0

while(n):
  i=1
  fact = 1
  dig = n%10
  while(i<=dig):
    fact=fact*i
    i = i+1
  sum = sum + fact
  n = n//10
  
if(x==sum):
  print("The number is a strong number ")
else:
  print("The number is not a strong number")

Enter the number: 145
The number is a strong number

In [ ]:
#Program 27

In [ ]:
#Program 28
n= int(input("Enter the number: "))
sum = 0
for i in range (1,n):
  rem = n % i
  if(rem == 0):
    sum = sum + i
if(sum == n):
  print("The given number is perfect number")
else:
  print("The given number is not a perfect number")

Enter the number: 36
The given number is not a perfect number

In [ ]:
#Program 29
n =int(input("Enter the number: "))
flag=0
for i in range(2,n):
  if(n%i==0):
    flag=1
if flag==1:
  print("The given number is not prime")
else:
  print("The given number is prime")

Enter the number: 73
The given number is prime

In [ ]:
#Program 30
row = int(input("Enter the number of rows: "))
for i in range(row+1,0,-1):
  for j in range(0,i-1):
    print("*",end="")
  print("\n")

Enter the number of rows: 5
*****

****

***

**

*

In [ ]:
#Program 31
row = int(input("Enter the number of rows: "))
for i in range(row):
  for j in range(0,i+1):
    print(i+1,end="" )
  print("\n")

Enter the number of rows: 9
1

22

333

4444

55555

666666

7777777

88888888

999999999

In [ ]:
#Program 32
row = int(input("Enter the number of rows: "))
for i in range(row):
  for j in range(0,i+1):
    print(j+1,end="" )
  print("\n")

Enter the number of rows: 9
1

12

123

1234

12345

123456

1234567

12345678

123456789

In [ ]:
#Program 33

In [ ]:
#Program 34
string = str(input("Enter the string: "))
string = len(string)
print("The length of string is ",string)

Enter the string: acropolis
The length of string is  9

In [ ]:
#Program 35
str1 = str(input("Enter the first string: "))
str2 = str(input("Enter the second string: "))
x = str1[0:1]
str1=str1.replace(str1[0:1],str2[0:1])
str2 = str2.replace(str2[0:1],x)
print("The first string = ",str1)
print("The second string= ",str2)

Enter the first string: abc
Enter the second string: xyz
The first string =  xbc
The second string=  ayz

In [ ]:
#Program 36
str1 = str(input("Enter a string: "))
x = len(str1)
if x >= 3:
  if str1.endswith("polis"):
    print(str1+'CS')
  else:
    print(str1 + 'polisCS')
else:
  print(str1)

Enter a string: abc
abcpolisCS

In [ ]:
#Program 37
str1 = str(input("Enter a string: "))
x = str(input("Enter the character to be counted: "))
y = str1.count(x)
print("The number of time",x,"occurs is ",y)

Enter a string: google.com
Enter the character to be counted: o
The number of time o occurs is  3

In [ ]:
#Program 38
s = str(input("Enter the string: "))
s1 = s[0] + s[-1] + s[2:-1] + s[1]
print("The new string will be ",s1)

Enter the string: computer
The new string will be  crmputeo

In [ ]:
#Program 39

In [ ]:
#Program 40
str1 = str(input("Enter the string: "))
x = str1.lower()
y = str1.upper()
print("String in lower case is ",x)
print("String in upper case is ",y)

Enter the string: Computer
String in lower case is  computer
String in upper case is  COMPUTER

In [ ]:
#Program 41
string = str(input("Enter a string: "))
x = str(input("Enter the substring to be counted: "))
y = string.count(x)
print("The number of substring",x,"ocuured in the string is=",y)

Enter a string: My name is yash my hobby is playing cricket
Enter the substring to be counted: is
The number of substring is ocuured in the string is= 2

In [ ]:
#Program 42 
s = str(input("Enter a string: "))
n= int(input("Enter the no. characters to be lower case: "))
s1 = s[0:n].lower() + s[n:]
print(s1)

Enter a string: COMPUTER
Enter the no. characters to be lower case: 3
comPUTER

In [ ]:
#Program 43
s = str(input("Enter the string : "))
s1 = s.replace(" ","")
print(s1)

Enter the string : hello my name is yash rane
hellomynameisyashrane

In [ ]:
#Program 44

In [ ]:
#Program 45

In [ ]:
#Program 46

In [ ]:
#Program 47
s = input("Enter the string: ")
sum = 0
for x in s:
  if x.isdigit():
    sum += int(x)
print("The sum of digits in a string = ", sum)

Enter the string: 456jgf5
The sum of digits in a string =  20

In [ ]:
#Program 48
def words(x):
  max1 = len(x[0])
  for i in x:
    if(len(i)>max1):
      max1 = len(i)
  print("The length of longest word is: ",max1) 
l = ['hello','why','three','computer']
words(l)

The length of longest word is:  8

In [ ]:
#Program 49 
def x(n):
  y = n^2 + 1
  print("The result is: ",y)
x(4)

The result is:  7

In [ ]:
#Program 50 
s = 'Y-tata-acropolis:0.8475'
col = s.find(":")
print("The colon is at position: ",col+1)  
num = s[col+1:-1]
num = float(num)
print(num)
print(type(num))

The colon is at position:  17
0.847
<class 'float'>

In [ ]:
#Program 51
def middle(a,b,c):
  d = min(a,b,c)
  e = max(a,b,c)
  f = a+b+c-d-e
  print("The middle one is: ",f)
x = int(input("Enter first number: "))
y= int(input("Enter second number: "))
z = int(input("Enter third number: "))
middle(x,y,z)

Enter first number: 56
Enter second number: 20
Enter third number: 25
The middle one is:  25

In [ ]:
#Program 52

In [ ]:
#Program 53
def outer(a,b,c):
  def inner(a,b,c):
    return a+b+c
  add = inner(a,b,c)
  return add+5
a = int(input("Enter a= "))
b = int(input("Enter b= "))
c = int(input("Enter c ="))
outer(a,b,c)

Enter a= 4
Enter b= 5
Enter c =1

15

In [ ]:
#Program 54

In [ ]:
#Program 55
def factorial(x):
  if x == 1:
    return 1
  elif x>1:
    return x * factorial(x-1)
x = int(input("Enter the number: "))
y = factorial(x)
print("The factorial of given number is: ",y)

Enter the number: 5
The factorial of given number is:  120

In [ ]:
#Program 56
def multiple():
  x = [n for n in range(100,501) if n%7==0]
  print("multiple of 7 are: ",x)
  y = [n for n in range(100,501) if n%9==0]
  print("multiples of 9 are: ",y)

multiple()

multiple of 7 are:  [105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196, 203, 210, 217, 224, 231, 238, 245, 252, 259, 266, 273, 280, 287, 294, 301, 308, 315, 322, 329, 336, 343, 350, 357, 364, 371, 378, 385, 392, 399, 406, 413, 420, 427, 434, 441, 448, 455, 462, 469, 476, 483, 490, 497]
multiples of 9 are:  [108, 117, 126, 135, 144, 153, 162, 171, 180, 189, 198, 207, 216, 225, 234, 243, 252, 261, 270, 279, 288, 297, 306, 315, 324, 333, 342, 351, 360, 369, 378, 387, 396, 405, 414, 423, 432, 441, 450, 459, 468, 477, 486, 495]

In [ ]:
#Program 57
def prime(n):
  flag=0
  for i in range(2,n):
    if(n%i==0):
      flag=1
  if flag==1:
    print("The given number is not prime")
  else:
    print("The given number is prime")
n = int(input("Enter the number: "))
prime(n)

Enter the number: 23
The given number is prime

In [ ]:
#Program 58
def armstrong(n):
  x = n
  sum = 0
  while(n != 0):
    dig = n%10
    sum = sum + (dig**3)
    n = n//10
  if(x == sum):
    print("The number is an armstrong number ")
  else:
    print("The number is not an armstrong number ")
n = int(input("Enter the number: "))
armstrong(n)

Enter the number: 315
The number is not an armstrong number

In [ ]:
#Program 59
def A(s1):
  print("Hello "+ s1 +".")
def B(s1,s2):
  print(s1 + " loves " + s2)
  return A(s1)
B('Yash','Python')

Yash loves Python
Hello Yash.

In [ ]:
#Program 60
def start_process(p):
  if p=='Yes'or p=='yes':
    return "Start Process"
  elif p == 'No'or p=='no':
    return "Start Process Aborted"
  else:
    return "Sorry for the input"
p = str(input("Enter the value of p: "))
start_process(p)

Enter the value of p: no

'Start Process Aborted'

In [ ]:
#Program 61
def calculate_distance(x):
  if (type(x)== int or type(x)==float ):
    return x
  else: 
    return 'NO VALUE'
x = input("Enter the value: ")
calculate_distance(x)

Enter the value: 5

'NO VALUE'

In [ ]:
#Program 62
from functools import reduce
l = []
n = int(input("Enter the number of elements in list: "))
for i in range(0,n):
  a = int(input())
  l.append(a)  
print("the list is: ",l)
sum = reduce(lambda x,y:x+y,l)
print("The sum of input is: ",sum)

Enter the number of elements in list: 4
1
2
3
4
the list is:  [1, 2, 3, 4]
The sum of input is:  10

In [ ]:
#Program 63
li = [5, 7, 'cat', 'dog']
n = input("Enter the element to be added: ")
i = int(input("Enter the position at which element ot be added: "))
li.insert(i,n)
print(li)

Enter the element to be added: cta
Enter the position at which element ot be added: 3
[5, 7, 'cat', 'cta', 'dog']

In [ ]:
#Program 64
my_list=[]
while True:
  a = input()
  if a== 'done':
    break
  my_list.append(a)
print("Maximun= ",max(my_list))
print("Minimun= ",min(my_list))

0
98
56
21
done
Maximun=  98
Minimun=  0

In [ ]:
#Program 65
my_list=[]
n = int(input("Enter the number of elements in list: "))
for i in range(0,n):
  a = int(input())
  my_list.append(a)
print("Maximun= ",max(my_list))
print("Minimun= ",min(my_list))

Enter the number of elements in list: 5
89
56
892
56
5
Maximun=  892
Minimun=  5

In [ ]:
#Program 66
my_list=[]
n = int(input("Enter the number of elements in list: "))
for i in range(0,n):
  a = int(input())
  my_list.append(a)
print(my_list)
num = int(input("Enter the position of number to be deleted: "))
my_list.pop(num)
print("The new list will be : ",my_list)

Enter the number of elements in list: 10
5
4
6
8
98
78
56
76
6
46
[5, 4, 6, 8, 98, 78, 56, 76, 6, 46]
Enter the position of number to be deleted: 5
The new list will be :  [5, 4, 6, 8, 98, 56, 76, 6, 46]

In [ ]:
#Program 67
li = [1,2,3,5,3,6,8,9,54,5,6,4]
li.pop(1)
li.pop(2)
li.pop(5)
print("Specified list= ",li)

Specified list=  [1, 3, 3, 6, 8, 54, 5, 6, 4]

In [ ]:
#Program 68
li=[1,2,3,4,5]
def sublist(li):
  ls=[]
  l= len(li)
  for i in range(l+1):
    for j in range(i):
      ls.append(li[j:i])
  return ls
a = sublist(li)
print(a)

[[1], [1, 2], [2], [1, 2, 3], [2, 3], [3], [1, 2, 3, 4], [2, 3, 4], [3, 4], [4], [1, 2, 3, 4, 5], [2, 3, 4, 5], [3, 4, 5], [4, 5], [5]]

In [ ]:
#Program 69
li = [45,89,56,75,89,21,46,48,100,235,59,8,78,9,132,5,65,5,55]
n = int(input("Enter a number to be compared: "))
li = list(filter(lambda x: x>n,li))
print("The list of numbers greater than the given numbers is")
print(li)

Enter a number to be compared: 45
The list of numbers greater than the given numbers is
[89, 56, 75, 89, 46, 48, 100, 235, 59, 78, 132, 65, 55]

In [ ]:
#Program 70
li = [45,89,56,75,89,21,46,48,100,235,59,8,78,9,132,5,65,5,55]
li = list(filter(lambda x: x%2==0,li))
print("The even numbers in the above list are: ")
print(li)

The even numbers in the above list are:
[56, 46, 48, 100, 8, 78, 132]