In [1]:
#program 1
a = float(input("Enter the first number: "))
b = float(input("enter the second number: "))
c = "{:.2f}".format(a)
d = "{:.2f}".format(b)
print(c)
print(d)

Enter the first number: 25
enter the second number: 62
25.00
62.00

In [2]:
#program 2
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))

print(a * b)

Enter the first number: 5
Enter the second number: 6
30

In [3]:
#program 3
r = 10
v = (4 * 22 * r * r * r)/(3 * 7)

print("Volume of the sphere = ",v )

Volume of the sphere =  4190.476190476191

In [4]:
#program 4
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))

print(a * b)

Enter the first number: 25
Enter the second number: 2
50

In [5]:
#program 5
a = int(input("Enter the value: "))
b = a + (a*a) + (a*a*a)
print("The valu of a+aa+aaa= ",b)

Enter the value: 5
The valu of a+aa+aaa=  155

In [6]:
#program 6
string = str(input("Enter the string: "))
string = len(string)
print("The length of string is ",string)

Enter the string: computer
The length of string is  8

In [7]:
#program 7
salary = "45000"

sal = int(salary)

#print type
print(type(sal))

#print the value
print(sal)

<class 'int'>
45000

In [8]:
#Program 7 
salary = "45000"
sal = float(salary)
print(type(sal))
print(sal)

<class 'float'>
45000.0

In [10]:
#Program 8
a = int(input("enter the first number: "))
b = int(input("enter the second number: "))

c = a+b
print(c)

if(c > 100):
  print(a*b)

enter the first number: 50
enter the second number: 60
110
3000

In [11]:
#Program 9
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))
c = int(input("Enter the third number: "))

d = a + b + c
print(d)

if(a != b != c):
  print(4*d)

Enter the first number: 1
Enter the second number: 2
Enter the third number: 3
6
24

In [13]:
#Program 10
quantity = int(input("Enter the quantity : "))
print("Cost of 1 unit = 100")
price = quantity *100
if(quantity > 10000):
  cost = float(price *50/100)
  print("The total cost = ",cost)
else:
  print("The total cost = ",price)

Enter the quantity : 25256
Cost of 1 unit = 100
The total cost =  1262800.0

In [14]:
#Program 11 (divisible 8)
a = int(input("Enter the number: "))
if ( a % 8 ==0 ):
  print("The number is divisible by 8")

else:
  print("The number is not divisible by 8")

Enter the number: 56
The number is divisible by 8

In [15]:
#Program 11(divisible by 12)
b = int(input("Enter the number: "))
if ( b % 12 ==0 ):
  print("The number is divisible by 12")

else:
  print("The number is not divisible by 12")

Enter the number: 56
The number is not divisible by 12

In [16]:
#Program 12
a = int(input("Enter the number: "))
if(a %2 == 0):
  print("The number is even")
else:
  print("The number is odd")

Enter the number: 13
The number is odd

In [17]:
#Program 13
phy = int(input("Enter the marks of physics out of 100: "))
chem = int(input("Enter the marks of chemistry out of 100: "))
mt = int(input("Enter the marks of maths out of 100: "))
bio = int(input("Enter the marks of biology out of 100: "))
comp = int(input("Enter the marks of computer out of 100: "))

per = (phy + chem + mt + bio + comp)/500 * 100

print("percentage = ",float(per))
if(per >= 90):
  print("Grade A")
elif(per >= 80):
  print("Grade B")
elif(per >= 70):
  print("Grade C")
elif(per >= 60):
  print("Grade D")
elif(per >= 50):
  print("Grade E")
else:
  print("Grade F")

Enter the marks of physics out of 100: 85
Enter the marks of chemistry out of 100: 65
Enter the marks of maths out of 100: 94
Enter the marks of biology out of 100: 56
Enter the marks of computer out of 100: 80
percentage =  76.0
Grade C

In [21]:
#Program 14
a = int(input("enter the age of first person: "))
b = int(input("enter the age of second person: "))
c = int(input("enter the age of third person: "))
if(a > b and a >c):
  print("first person is older")
elif(b > a and b >c):
  print("second person is older")
elif(c > a and c >b):
  print("third person is older")
else:
  print("All are of equal age")

enter the age of first person: 56
enter the age of second person: 68
enter the age of third person: 12
second person is older

In [22]:
#Program 15
n = int(input("enter the electicity units: "))
charge = float(20/100)
if(n<=50):
  bill = 0.50*n+charge
elif(n>50 and n<=150):
  bill = 0.75*n + charge
elif(n>150 and n<=250):
  bill = 1.20*n + charge
else:
  bill = 1.50*n + charge
print("Bill = ",float(bill))

enter the electicity units: 251
Bill =  376.7