In [1]:
str='hello'
print (str);

hello

In [2]:
print(str[0]);

h

In [4]:
print(str[-1]);

o

In [5]:
print(str[2:4])

ll

In [7]:
print(str+x)

helloyash

In [8]:
#tuples
tup=()
tup

()

In [9]:
tup=(1,2,3)
tup

(1, 2, 3)

In [10]:
tup=(1,'Yash',9.7)
tup

(1, 'Yash', 9.7)

In [11]:
my_tup = ('house',[2,3,4],(5,6,7))
my_tup

('house', [2, 3, 4], (5, 6, 7))

In [12]:
a,b,c =tup
a

1

In [13]:
b

'Yash'

In [14]:
c

9.7

In [15]:
my_tup=(2)
type(my_tup)

int

In [16]:
my_tup=(2,)
type(my_tup)

tuple

In [17]:
my_tup = ('house',[2,3,4],(5,6,7))
my_tup[1][0]

2

In [18]:
my_tup[2][-1]

7

In [19]:
my_tup[:]

('house', [2, 3, 4], (5, 6, 7))

In [20]:
print((1,2,3)+(4,5,6))

(1, 2, 3, 4, 5, 6)

In [23]:
print(('repeat',)*5)

('repeat', 'repeat', 'repeat', 'repeat', 'repeat')

In [25]:
del my_tup

In [26]:
my_tup=('a','p','p','l','e')

In [28]:
my_tup.count('p')

2

In [29]:
my_tup.index('l')

3

In [30]:
print('a' in my_tup)

True

In [31]:
print('b' in my_tup)

False

In [32]:
for i in ('Yash','John'):
    print('Hello',i)

Hello Yash
Hello John

In [34]:
a =(1,2,3)
for i in a:
    print(i**2)

1
4
9

In [35]:
a.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [36]:
a=(9,5,2)
b = sorted(a)
b

[2, 5, 9]